@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
	/* Inter font - for body text */
	@font-face {
		font-family: "Inter";
		src: url("../public/inter.ttf") format("truetype");
		font-weight: 400;
		font-display: swap;
	}

	/* Nunito font - for headings */
	@font-face {
		font-family: "Nunito";
		src: url("../public/nunito.ttf") format("truetype");
		font-weight: 700;
		font-display: swap;
	}

	/* Set the default fonts */
	:root {
		--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
		--font-heading: "Nunito", ui-sans-serif, system-ui, sans-serif;
	}

	/* Apply fonts */
	body {
		font-family: var(--font-sans);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-heading);
	}
}

@theme {
	/* Primary theme and feel color, accent borders, icons, emphasis */
	--green-50: hsl(125, 65%, 93%);
	--green-100: hsl(126, 49%, 84%);
	--green-200: hsl(122, 42%, 75%);
	--green-300: hsl(123, 38%, 63%);
	--green-400: hsl(123, 35%, 51%);
	--green-500: hsl(122, 39%, 41%);
	--green-600: hsl(122, 47%, 35%);
	--green-700: hsl(125, 56%, 29%);
	--green-800: hsl(125, 73%, 20%);
	--green-900: hsl(125, 86%, 14%);

	/* Primary actions */
	--light-blue-50: hsl(201, 100%, 96%);
	--light-blue-100: hsl(200, 88%, 90%);
	--light-blue-200: hsl(200, 71%, 80%);
	--light-blue-300: hsl(200, 66%, 69%);
	--light-blue-400: hsl(200, 60%, 58%);
	--light-blue-500: hsl(200, 54%, 49%);
	--light-blue-600: hsl(200, 59%, 43%);
	--light-blue-700: hsl(200, 68%, 35%);
	--light-blue-800: hsl(200, 72%, 31%);
	--light-blue-900: hsl(200, 82%, 24%);

	/* Neutrals for most of text, backgrounds, and borders,
as well as for things like secondary buttons and links */
	--grey-50: hsl(216, 33%, 97%);
	--grey-100: hsl(214, 15%, 91%);
	--grey-200: hsl(210, 16%, 82%);
	--grey-300: hsl(211, 13%, 65%);
	--grey-400: hsl(211, 10%, 53%);
	--grey-500: hsl(211, 12%, 43%);
	--grey-600: hsl(209, 14%, 37%);
	--grey-700: hsl(209, 18%, 30%);
	--grey-800: hsl(209, 20%, 25%);
	--grey-900: hsl(210, 24%, 16%);

	/* These colors should be used fairly conservatively throughout your UI to
avoid overpowering your primary colors. Use them when you need an
element to stand out, or to reinforce things like error states or positive
trends with the appropriate semantic color. */
	--red-vivid-50: #ffe3e3;
	--red-vivid-100: #ffbdbd;
	--red-vivid-200: #ff9b9b;
	--red-vivid-300: #f86a6a;
	--red-vivid-400: #ef4e4e;
	--red-vivid-500: #e12d39;
	--red-vivid-600: #cf1124;
	--red-vivid-700: #ab091e;
	--red-vivid-800: #8a041a;
	--red-vivid-900: #610316;

	--teal-50: #effcf6;
	--teal-100: #c6f7e2;
	--teal-200: #8eedc7;
	--teal-300: #65d6ad;
	--teal-400: #3ebd93;
	--teal-500: #27ab83;
	--teal-600: #199473;
	--teal-700: #147d64;
	--teal-800: #0c6b58;
	--teal-900: #014d40;

	/* Font families */
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
	--font-heading: "Nunito", ui-sans-serif, system-ui, sans-serif;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--grey-50);
	--color-card-foreground: var(--grey-900);
	--color-popover: var(--grey-50);
	--color-popover-foreground: var(--grey-900);
	--color-primary: var(--light-blue-700);
	--color-primary-foreground: var(--grey-50);
	--color-secondary: var(--green-200);
	--color-secondary-foreground: var(--green-800);
	--color-muted: var(--grey-100);
	--color-muted-foreground: var(--grey-500);
	--color-accent: var(--green-100);
	--color-accent-foreground: var(--green-700);
	--color-destructive: var(--red-vivid-500);
	--color-destructive-foreground: var(--grey-50);
	--color-success: var(--green-500);
	--color-success-foreground: var(--grey-50);
	--color-warning: var(--red-vivid-500);
	--color-warning-foreground: var(--grey-50);
	--color-border: var(--grey-200);
	--color-input: var(--grey-200);
	--color-ring: var(--light-blue-500);
	--color-chart-1: var(--light-blue-700);
	--color-chart-2: var(--grey-400);
	--color-chart-3: var(--green-500);
	--color-chart-4: var(--red-vivid-500);
	--color-chart-5: var(--green-700);
	--color-sidebar: var(--light-blue-900);
	--color-sidebar-foreground: var(--grey-50);
	--color-sidebar-primary: var(--light-blue-900);
	--color-sidebar-primary-foreground: var(--grey-50);
	--color-sidebar-accent: var(--grey-500);
	--color-sidebar-accent-foreground: var(--light-blue-100);
	--color-sidebar-border: var(--light-blue-400);
	--color-sidebar-ring: var(--green-500);
}

:root {
	--radius: 0.625rem;
	--background: hsl(0 0% 100%);
	--foreground: hsl(0 0% 3.9%);
	--card: var(--grey-50);
	--card-foreground: var(--grey-900);
	--popover: var(--grey-50);
	--popover-foreground: var(--grey-900);
	--primary: var(--light-blue-900);
	--primary-foreground: var(--grey-50);
	--secondary: var(--green-200);
	--secondary-foreground: var(--green-800);
	--muted: var(--grey-100);
	--muted-foreground: var(--grey-500);
	--accent: var(--green-100);
	--accent-foreground: var(--green-700);
	--destructive: var(--red-vivid-500);
	--destructive-foreground: var(--grey-50);
	--success: var(--green-500);
	--success-foreground: var(--grey-50);
	--warning: var(--red-vivid-500);
	--warning-foreground: var(--grey-50);
	--border: var(--grey-200);
	--input: var(--grey-200);
	--ring: var(--light-blue-500);
	--chart-1: var(--light-blue-700);
	--chart-2: var(--grey-400);
	--chart-3: var(--green-500);
	--chart-4: var(--red-vivid-500);
	--chart-5: var(--green-700);
	--sidebar: var(--light-blue-700);
	--sidebar-foreground: var(--grey-50);
	--sidebar-primary: var(--light-blue-100);
	--sidebar-primary-foreground: var(--grey-500);
	--sidebar-accent: var(--light-blue-800);
	--sidebar-accent-foreground: var(--grey-50);
	--sidebar-border: var(--light-blue-900);
	--sidebar-ring: var(--green-500);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.dark {
	--background: hsl(0 0% 3.9%);
	--foreground: hsl(0 0% 98%);
	--sidebar: hsl(209, 20%, 25%);
	--sidebar-foreground: hsl(210, 16%, 82%);
	--sidebar-primary: hsl(200, 68%, 35%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(209, 18%, 30%);
	--sidebar-accent-foreground: hsl(214, 15%, 91%);
	--sidebar-border: hsl(209, 18%, 30%);
	--sidebar-ring: hsl(200, 66%, 69%);
}
